body{
    font-family: "Noto Sans", sans-serif;
    margin: 0;
}

/* -------------------------------------- */

/* Root Elements */
header{
    padding: 1rem 2.5rem;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

header a,main a {
    text-decoration: none;
    color: black;
}

.blog a{
    font-weight: 600;
    color: black;
    text-align: center;
    margin-bottom: 2rem;
}

/* -------------------------------------- */

/* Components */
/* Header Navigation */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 1.5rem;
}

.logoHolder{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    width: fit-content;
}

.menu{
    display: flex;
    gap: 1rem;
    width: fit-content;
}

/* Footer */
footer{
    display: block;
    gap: 0.5rem;
    text-align: center;
    padding: 1.5rem;
    color: white;
    background-color: #202020;
}

.footer-text{
    font-weight: bold;
}

/* -------------------------------------- */

/* Index Page */
/* Hero Section */
.hero{
    /* height: 15rem; */
    padding: 5rem 1.5rem 1.5rem 1.5rem;
    background-image: url("images/article-image-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.hero h2{
    font-size: 2rem;
    line-height: 1.25;
}

.hero p{
    font-size: 1rem;
    line-height: 1.50;
}

.hero small{
    line-height: 1.50;
    font-weight: 200;
}

.hero p, .hero h2, .hero small{
    margin-bottom: 0.5rem; 
}

/* Blog Item - Grid */
.blog{
    display: grid;
    grid-template-areas: 
        "one"
        "two"
        "three" ;
}

.one{
    grid-area: one;
}

.two{
    grid-area: two;
}

.three{
    grid-area: three;
}

.blog-item{
    text-decoration: none;
    padding: 1.5rem;
    color: black;
    display: flex;
    flex-direction: column;
}

.blog-item img{
    margin-bottom: 1rem;
    border-radius: none;
}

.blog-item small, .blog-item h2, .blog-item p{
    margin-bottom: 0.25rem;
}

/* -------------------------------------- */

/* Post Page */
/* hero-post */
.hero-post{
    padding: 5rem 1.5rem 1.5rem 1.5rem;
    color: black;
}

.hero-post p {
    margin-bottom: 1.5rem;
}

.hero-post small, .hero-post h2 {
    margin-bottom: 0.5rem; 
}

.hero-post small {
    line-height: 1.50;
    font-weight: 200;
}

.hero-post img{
    width: 100%;
    margin-bottom: 1rem;
}

.hero-post h1{
    margin-bottom: 1rem;
}

.hero-post h2 {
    font-size: 2rem;
    line-height: 1.25;
}

.hero-post p {
    font-size: 1rem;
    line-height: 1.50;
}

/* body-post */
.body-post{
    padding: 1rem 1.5rem 1.5rem 1.5rem;
}

.body-post h4, .body-post p{
    margin-bottom: 1rem;
    line-height: 1.50;
}

/* recent-posts */
.recent-posts-paragraph{
    margin-bottom: 1rem;
    line-height: 1.50;
    font-weight: 600;
    text-align: center;
}

.recent-posts .three{
    margin-bottom: 2rem;
}




