body{
    font-family: "Noto Sans", sans-serif;
    margin: 0;
}

/* Default Elements */
header{
    padding: 1rem 2.5rem;
}

h5, h6{
    margin: 0;
}


/* Classes */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 1.5rem;
}

.logoHolder{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    width: fit-content;
}

.menu{
    display: flex;
    gap: 1rem;
    width: fit-content;
}

